.button {
    @include fluid-props(4px, 4px, padding-top);
    @include fluid-props(4px, 4px, padding-bottom);
    @include fluid-props(16px, 25px, padding-left);
    @include fluid-props(16px, 25px, padding-right);

    @extend .button-text;
    @extend .bg-color-blue;
    border: 2px solid $blue;
    display: inline-block;
    &, &:visited {
        @extend .color-white;

        &.white {
            @extend .bg-color-white;
            @extend .color-blue;    
            border-color: $white;
        }

        &.outline {
            @extend .bg-color-transparent;
            @extend .color-blue;
            border: 2px solid $blue;
            &.white {
                @extend .bg-color-transparent;
                @extend .color-white;
                border-color: $white;
            } 
        }
    }
    
    border-radius: 20px;
    cursor: pointer;
}   

.btn-link-with-icon {
    @extend .button-text;
    display: flex;
    align-items: center;
    span {
        @extend .background-cover;
        display: inline-block;
        &.icon {
            @include fluid-props(18px, 26px, height);
            @include fluid-props(18px, 26px, width);
        }
        &.icon-schedule {
        }
        &.icon-info {
            &::after {
                transition: 250ms ease-in-out;
                margin-right: 12px;
                font-family: 'Font Awesome 5 Pro';
                content: "\f05a";
                font-weight: 400;
            }
        }
        &.icon-bus {
        }
    }
}

.btn-link,
.btn-with-arrow,
.btn-with-download,
.btn-with-back {
    border: none;
    @extend .color-blue;
    @extend .button-text;
}

.btn-with-arrow {

    &::after {
        transition: 250ms ease-in-out;
        margin-right: 4px;
        margin-left: 12px;
        font-family: 'Font Awesome 5 Pro';
        font-size: 125%;
        font-weight: 300;
        vertical-align: middle;
        content: "\f178";
    }
}

.btn-with-download {

    &::before {
        transition: 250ms ease-in-out;
        margin-right: 12px;
        font-family: 'Font Awesome 5 Pro';
        content: "\f019";
        font-weight: 600;
    }
}

.btn-with-back {

    &::before {
        transition: 250ms ease-in-out;
        margin-right: rem-calc(8);
        font-family: 'Font Awesome 5 Pro';
        content: "\f053";
        font-weight: 600;
    }
}

.no-touchevents {
    .button:hover {
        @extend .bg-color-white;
        @extend .color-blue;
        border-color: $white;

        &.white {
            @extend .bg-color-blue;
            @extend .color-white;
            border-color: $blue;    
        }

        &.outline {
            @extend .bg-color-blue;
            @extend .color-white;
            border-color: $blue;    
            &.white {
                @extend .bg-color-transparent;
                @extend .color-blue;    
                border-color: $blue;
            }     
        }
    }

    .btn-with-arrow:hover {    
        &::after {
            margin-left: 16px;
            margin-right: 0px;
        }
    }

    .btn-with-download:hover {
        opacity: 0.6;
    }

    .btn-with-back:hover {
        &::before {
            margin-right: rem-calc(16);
            margin-left: rem-calc(-8);
        }
    }
}

