.color-blue {
    color: $blue;
}

.color-white {
    color: $white;
}

.color-black {
    color: $black;
}

.color-gray {
    color: $gray;
}

.color-spanish-gray {
    color: $spanish-gray;
}

.bg-color-gray {
    background-color: $gray;
}

.bg-color-spanish-gray {
    background-color: $spanish-gray;
}

.bg-color-transparent {
    background-color: transparent;
}

.bg-color-blue {
    background-color: $blue;
}

.bg-color-white {
    background-color: $white;
}

.bg-color-black {
    background-color: $black;
}