.button {
    @include fluid-props(3px, 3px, padding-top);
    @include fluid-props(6px, 6px, padding-bottom);
    @include fluid-props(16px, 25px, padding-left);
    @include fluid-props(16px, 25px, padding-right);

    @extend .button-text;
    @extend .bg-color-blue;
    border: 2px solid $blue;
    display: block;
    &, &:visited {
        @extend .color-white;

        &.white {
            @extend .bg-color-white;
            @extend .color-blue;    
            border-color: $white;
        }

        &.outline {
            @extend .bg-color-transparent;
            @extend .color-blue;
            border: 2px solid $blue;
            &.white {
                @extend .bg-color-transparent;
                @extend .color-white;
                border-color: $white;
            } 
        }
    }
    
    border-radius: 20px;
    cursor: pointer;
}   

.btn-link-with-icon {
    @extend .button-text;
    display: flex;
    align-items: center;
    span {
        @extend .background-cover;
        display: inline-block;
        margin-right: rem-calc(6);
        &.icon {
            @include fluid-props(3px, 4px, margin-top);
            @include fluid-props(18px, 26px, height);
            @include fluid-props(18px, 26px, width);
        }
        &.icon-schedule {
            background-image: url(../img/icon-schedule.png);
        }
        &.icon-info {
            background-image: url(../img/icon-info.png);
        }
        &.icon-bus {
            background-image: url(../img/icon-bus.png);
        }
    }
}

.btn-with-arrow {
    border: none;
    @extend .color-blue;
    @extend .button-text;

    &::after {
        transition: 250ms ease-in-out;
        margin-left: 12px;
        font-family: 'Font Awesome 5 Pro';
        content: "\f061";
        font-weight: 600;
    }
}

.no-touchevents {
    .button:hover {
        @extend .bg-color-white;
        @extend .color-blue;
        border-color: $white;

        &.white {
            @extend .bg-color-blue;
            @extend .color-white;
            border-color: $blue;    
        }

        &.outline {
            @extend .bg-color-blue;
            @extend .color-white;
            border-color: $blue;    
            &.white {
                @extend .bg-color-transparent;
                @extend .color-blue;    
                border-color: $blue;
            }     
        }
    }
    .btn-with-arrow:hover {    
        &::after {
            margin-left: 16px;
        }
    }
}

