.color-blue {
    color: $blue;
}

.color-white {
    color: $white;
}

.color-black {
    color: $black;
}

.bg-color-transaparent {
    background-color: transparent;
}

.bg-color-blue {
    background-color: $blue;
}

.bg-color-white {
    background-color: $white;
}

.bg-color-black {
    background-color: $black;
}