.font-body {
    font-family: "";
}

.font-body-italic {
    font-family: "";
}

.font-body-semibold {
    font-family: "";
}

.font-heading {
    font-family: "";
}

.font-heading-semibold {
    font-family: "";
}

.font-heading-alt {
    font-family: "";
}
