* {
  transition: color 250ms, background-color 250ms, opacity 250ms;
}

html {
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
}

p {
  @include fluid-type(16px, 18px);
}

h1 {
  @include fluid-type(30px, 60px);
}

.background-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background-color: black;
  color: $white;

  padding: 32px 28px;

  p {
    margin: 0;
  }

  .menus-container {
    .menu-item-container {
      @include fluid-props(40px, 76px, margin-right);

      .submenu-items {
        @include fluid-props(40px, 40px, margin-top);    
        transition: 250ms ease-in-out;
        position: fixed;
        right: 100%;

        &.active {
          right: 0;
        }
      }
    }
  }
}

footer {
  background-color: $primary-color;
  color: $black;
  padding: 1rem 0;
  p {
    margin: 0;
  }
}

.no-touchevents {

}
