* {
  transition: color 250ms, background-color 250ms, opacity 250ms;
}

html {
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
}

.hide {
  display: none;
}

h1 {
  @extend .h1-style;
}

h2 {
  @extend .h2-style;
}

h3 {
  @extend .h3-style;
}

p {
  @extend .p-style;
}

.h1-style {
  @include fluid-type(26px, 44px);
}

.h2-style {
  @include fluid-type(22px, 32px);
}

.h3-style {
  @include fluid-type(18px, 28px);
  @include fluid-props( 10px, 16px, margin-bottom);
}

.p-style {
  @include fluid-type(14px, 18px);
}

.quote-text {
  @include fluid-type(20px, 26px);
}

.button-text {
  @include fluid-type(12px, 16px);
}

.caption-text {
  @include fluid-type(14px, 14px);
}

ul li {
  @extend .p-style;
}

.quote-text, .h1-style { 
  @extend .font-heading;
}

.button-text {
  @extend .font-body-semibold;
}

.h2-style, .h3-style, .p-style, .caption-text {
  @extend .font-body; 
}

.background-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  z-index: 100;
  width: 100%;
  position:sticky;
  top:0;
  left:0;
  right:0;
  padding: 28px 32px;

  p {
    margin: 0;
  }

  .main-logo-container {
    img {
      @include fluid-props(200px, 480px, width);
      @include fluid-props(24px, 56px, height);
    }
  }

  .menus-container {

    .menu-item-container {
      position: relative;

      .main-nav-menu {
      }

      
      .border-nav-menu {
        position: absolute;
        bottom: -12px;
        border-color: $blue;
        margin: 0;
        border-width: 4px;
        width: 100%;
      }

      .submenu-items {
        position: absolute;
        left: -32px;
        top: 0;
        transition: 250ms ease-in-out;

        .items-container {
          padding: 20px 24px;
          min-width: 212px;
          margin-top: 52px;
          z-index: 150;
        }
      }
    }
  }

  &.scrolled {
    @extend .bg-color-white;

    .menus-container {

      .menu-item-container {
        .menu-title {
          @extend .color-black;
        }
      }

      .button-donate {
        a {
          @extend .outline;
        }
      }
    }
  }
}

footer {
  //@include fluid-props(60px, 116px, min-height);
  min-height: 116px;
  width: 100vw;
  padding: 32px 28px;

  p {
    margin: 0;
  }

  .footer-logo-container {
    @include fluid-props(28px, 44px, height);
    @include fluid-props(140px, 272px, width);
  }

  .social-media-container {
    display: flex;

    .icon-item {
      @include fluid-props(12px, 16px, margin-right);

    }
  }
}

.no-touchevents {

}
