.page-template-page-connect-press main {
	#press-coverage {
		.coverage-container {
			.coverage-inner-container {
				@include breakpoint(small only) {
					justify-content: center;
				}

				.coverage-image-container {
					@include breakpoint(medium) {
						padding-left: 0;
						padding-right: 0;
					}

					@include breakpoint(small only) {
						padding-top: rem-calc(40);
						padding-bottom: 0;
					}

					.coverage-image {
						@include fluid-props(184px, 228px, height);
						width: 100%;
	
						@include breakpoint(small only) {
							margin-bottom: rem-calc(20);
						}
					}
				}

				.coverage-title-container {
					@extend .border-bottom;

					&.last {
						border-bottom: none !important;
					}

					@include breakpoint(medium) {
						border-bottom: none !important;
					}

					@include breakpoint(small only) {
						padding-top : 0;
						padding-bottom: rem-calc(40);
					}
				}
			}
		}
	}
}

#press-releases, #press-coverages {
	a {
		text-decoration: none;
	}
}

.no-touchevents {
	#press-releases {
		.releases-container {
			.releases-inner-container {
				.releases-title-link:hover {
					.releases-title {
						color: get-color(primary);
					}
				}
			}
		}
	}
	#press-coverage {
		.coverage-container {
			.coverage-inner-container {
				.coverage-image-container {
					.coverage-image-link:hover {
						.coverage-image {
							opacity: 0.6;
						}
					}
				}
				.coverage-title-container {
					.coverage-title {
						.coverage-title-link:hover {
							.title-text {
								color: get-color(primary);
							}
						}
					}
				}
			}
		}
	}
}