.page-template-page-about-conservancy main {
    #conserv-intro {
        .intro-container{
            .intro-image {
                @include fluid-props(240px, 756px, height);
            }
        }
    }

    #conserv-bod {
        .bod-container {
            .bod-content{
                @include fluid-props(16px, 20px, margin-bottom);

                &.last {
                    margin-bottom: 0;
                }

                .bod-content-image-container {
                    @include fluid-props(4px, 12px, margin-bottom);
                    @include fluid-props(320px, 336px, height);
                    .bod-image {
                        width: 100%;
                    }
                    a {
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
                .bod-content-name {
                    @include fluid-props(4px, 8px, margin-bottom);
                }

                .bod-content-title {
                    
                }
            }

            .bod-people-content {
                @extend .border-top;
                
                @include breakpoint(medium) {
                    border-top: none !important;
                }

                @include breakpoint(small only) {
                    padding-top: 40px;
                }
                h3 {
                    @extend .vert-margin-top;
                }
            }
        }
    }

    #conserv-vis-mis {
        .vis-mis-container {
            ul {
                list-style-type: circle;
            }
            .our-vision {
                @include breakpoint (small only) {
                    padding-bottom: 0 !important;
                }
            }
        }
    }

    #conserv-infos {
        .infos-container {
            .infos-top-container {
                .infos-top-image-container {
                    @include fluid-props(20px, 20px, margin-bottom);
                    @include breakpoint(small only) {
                        padding-left: rem-calc(16);
                        padding-right: rem-calc(16);
                    }
                    .infos-top-image {
                        width: 100%;
                    }
                }
                .infos-top-text {
                    @include fluid-props(16px, 30px, padding-left);
                    @include fluid-props(16px, 30px, padding-right);

                }
            }
        }

        .about-conservancy-park-list {
            td {
                @include fluid-props(12px, 16px, padding-bottom);
                @include fluid-props(12px, 16px, padding-left);

                img {
                    @include fluid-props(28px, 36px, height);
                    @include fluid-props(28px, 36px, width);
                }

                &:first-of-type {
                    padding-left: 0;
                }
            }
        }
    }
}